<h1>Editar Pregunta Alternativa</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @pregunta_alternativa, :class => "btn btn-default" %>
<%= link_to 'Volver', pregunta_alternativas_path, :class => "btn btn-default" %>
