        <div class="col-md-6 col-md-offset-3" align="center">
          <div class="well sidebar-nav" align="center">
            <h3>Tipos de preguntas</h3>
            <ul class="nav nav-list">
              <li><%= link_to "Alternativas", "/pregunta_alternativas"  %></li>
              <li><%= link_to "Dicotomicas", "/pregunta_dicotomicas"  %></li>
              <li><%= link_to "Escala de Linkert", "/pregunta_likerts"  %></li>
              <li><%= link_to "Pregunta evidencia", "/pregunta_evidencia"  %></li>
            </ul>
          </div><!--/.well -->
        </div>

