<p>
  <strong>Nombre:</strong>
  <%= @pregunta_evidencium.nombre %>
</p>

<p>
  <strong>Pregunta:</strong>
  <%= @pregunta_evidencium.pregunta %>
</p>

<%= link_to 'Editar', edit_pregunta_evidencium_path(@pregunta_evidencium), :class => "btn btn-default" %>
<%= link_to 'Volver', pregunta_evidencia_path, :class => "btn btn-default" %>
