<h1>Editar Pregunta Dicotomica</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @pregunta_dicotomica, :class => "btn btn-default" %>
<%= link_to 'Volver', pregunta_dicotomicas_path, :class => "btn btn-default" %>
